/* nejsme vcerejsi, pouzivame moderni a intuitivni box model */
html {
	box-sizing: border-box;
}

*,
::after,
::before {
	box-sizing: inherit;
}


.box {
	width: 500px;
	height: 500px;
	margin: 100px auto;
	border: 1px dashed grey;
}

/* ------------------------------------ */


.box {
	background-color: rgb(201, 201, 207);
	background-image: url(images/siroke.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}

/* zkrácená verze pro zápis */

/* background: blue  url('../path/to/img') no-repeat right / cover ; 

Pokud nenastavím nic, vychází se z původní automatické pozice nastavení */
